.topleft{
    font-family:"Quicksand";
    font-size:1.8em;
    letter-spacing: 0px;
    color: #000000;
    font-weight: bold;
    padding-left: .5em;
    padding-bottom: 1em;
    padding-top:1em;
}
.button{
    margin-top:-2em;
    background-color: white;
    border-color: #000000;
    border-radius: 5px;
    border-width: 1px;
    text-align:center;
    font-family: "Quicksand";
    font-size:0.80em;
    padding:0.2em 2em;
}


.single_row { 
    display: grid;
    grid-template-columns: 1.5fr .5fr .5fr 10fr 2fr .5fr;
    grid-template-rows: 2.5rem;
    grid-template-areas:
    "s1 s2 s3 s4 s5 s6";
    margin-bottom:1rem;
    overflow:auto;
}
.yellowbox{
    display:grid;
    grid-template-columns:.5fr 2fr 4fr;
    grid-template-rows:40px 25px;
    grid-template-areas:
    "s00 s11 s22"
    "s00 s11 s33";
    font-weight:bold;
    border-radius: 10px;
    background-color:#FFB84D;
    margin-left:0.5rem;   
    margin-top:5px;
    margin-bottom: 5px; 
    overflow:auto;
    justify-content: center;
    align-items: center;

}
.s11{
    grid-area:s11;
    width:3rem;
    display:flex;
    justify-content: center;

}
.s22{
    grid-area:s22;
    font-size:1rem;
    font-weight:bold;
    text-align: left;
}
.s33{
    grid-area:s33;
    font-size:0.8rem;
    font-weight:bold;
    text-align: left;

}

.s1{
    grid-area:s1;
    font-family:"Quicksand";
    font-size:1.2em;
    color: #000000;
    text-align: left;
    font-weight: bold;
    line-height: 3rem;

}
img {
    max-width: 100%;
    max-height: 100%;
    margin:auto;
    display:block;

}
.s2{
    padding-top: 0.5rem;
    grid-area:s2;
    height: 1.5rem;

}
.s3{
    grid-area:s3;
    padding-bottom: 0.5rem;
    height:1.5rem;
    transform: rotate(180deg)
}
.s4{
    grid-area:s4;
    font-family:"Quicksand";
    font-size:1.8em;
    letter-spacing: 0.72px;
    color: #000000;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    line-height: 2.5rem;
}
.s5{
    grid-area:s5;
    font-family:"Quicksand";
    font-size:1.0em;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;

}
.s6{
    grid-area:s6;
    font-family:"Quicksand";
    font-size:1.0em;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
}
table,th,td{
    border: 1px solid black;
    font-family:"Quicksand";
    font-size:1.0em;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}

/*  height of a row */
table th{
    height:2rem;
    padding:0.8rem 3rem;
}
table td{
    height:3rem;
}

.bluebox{
    background-color: #4D94FF;
    border-radius: 10px;
    height:3rem;
    text-align: center;
    margin-left:1.3rem;
    margin-top:5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cyanbox{
    display:grid;
    grid-template-columns:1fr 5fr;
    grid-template-areas:
    "cyan1 cyan2";
    background-color:#AEEEFF;
    text-align: center;
    margin-left: 2rem;;
    margin-top:3px;
    margin-bottom: 3px;
    border-radius: 10px;
    height:3rem;
    overflow:auto;

}
.cyan1{
    grid-area: cyan1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cyancircle{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 8px;
    background: #AEEEFF;
    border: 1px solid #000;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:5px;
    margin-right:5px;
}
.cyan2{
    grid-area: cyan2;
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
    
}
.marks{
    height:2rem;
}
.imageicon{
    display:flex;
    justify-content: center;
}

.greenbox{
    display:grid;
    grid-template-columns:.5fr 2fr 4fr;
    font-weight:bold;
    border-radius: 10px;
    background-color:#00bc00;
    margin-left:0.5rem;    
    display:grid;
    grid-template-areas:
    "hi green11 green22";
    font-weight:bold;
    border-radius: 10px;
    overflow:auto;
    justify-content: center;
    align-items: center;
    margin-top:5px;
    margin-bottom: 5px;
}
.green11{
    grid-area: green11;
    width:3rem;

}
.green22{
    grid-area: green22;
    text-align: left;

}