/* R=routine, A=action, I=insturction */
/* ns=not_started */
.nsR {
  border-radius: 50%;
  border: solid 2px #ffb84d;
  width: 30px;
  height: 30px;
}
.nsA {
  border-radius: 50%;
  border: solid 2px #4D94FF;
  width: 30px;
  height: 30px;
}
.nsI {
  border-radius: 50%;
  border: solid 2px #70D6FF;
  width: 30px;
  height: 30px;
}
/* c = completed */
.cR {
  border-radius: 50%;
  border: solid 2px #ffb84d;
  width: 30px;
  height: 30px;
  background-color: #ffb84d;
}

.cA {
  border-radius: 50%;
  border: solid 2px #4D94FF;
  width: 30px;
  height: 30px;
  background-color: #4D94FF;
}
.cI {
  border-radius: 50%;
  border: solid 2px #70D6FF;
  width: 30px;
  height: 30px;
  background-color: #70D6FF;
}

/* half circles - need wrapper */
.whiteHalfSide {
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  width: 50%;
  margin-left: 7px;
  border-left: solid white 1px;
}
.whiteHalfTop {
  background-position-y: center;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 50%;
  width: 100%;
  border-bottom: solid white 1px;
}

/* ip = in_progress */
.ipR {
  border-radius: 50%;
  border: solid 2px #ffb84d;
  width: 30px;
  height: 30px;
  background-color: #ffb84d;
}
.ipA {
  border-radius: 50%;
  border: solid 2px #4D94FF;
  width: 30px;
  height: 30px;
  background-color: #4D94FF;
}
.ipI {
  border-radius: 50%;
  border: solid 2px #70D6FF;
  width: 30px;
  height: 30px;
  background-color: #70D6FF;
}
.routineName {
  width: 250px;
  height: 75px;
  background: #ffb84d 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    30px / var(--unnamed-line-spacing-29) var(--unnamed-font-family-sf-pro);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 30px/29px SF Pro;
  letter-spacing: 0px;
  color: #ffffff;
}
.actionName {
  width: 210px;
  height: 60px;
  background: #4D94FF 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    30px / var(--unnamed-line-spacing-29) var(--unnamed-font-family-sf-pro);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 30px/29px SF Pro;
  letter-spacing: 0px;
  color: #ffffff;
}
.instructionName {
  width: 180px;
  height: 40px;
  background: #70D6FF 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-24) / var(--unnamed-line-spacing-29)
    var(--unnamed-font-family-sf-pro);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 24px/29px SF Pro;
  letter-spacing: 0px;
  color: #ffffff;
}
