.history {
    background-color: #F2F7FC;
}
.history-nav {
    width: 30%;
}
.history-body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:
            "header header"
            "week activities"
            "week activities";
    text-align: center;
}
.history-header {
    grid-area: header;
    padding: 0.5%;
    color: white;
    background-color: #889AB5;
}
.history-header-prev {
    float: left;
    cursor: pointer;
}
.history-header-next {
    float: right;
    cursor: pointer;
}
.history-activities {
    grid-area: activities;
    background-color: white;
}
.history-activities table {
    width: 100%;
    table-layout: fixed;
}
.history-activities table thead {
    border-bottom: 1px solid lightgray;
}
.history-activities table thead tr td {
    padding: 2.5px 0;
}
.history-activities table tbody tr {
    background-color: #BBC7D7;
}
.history-activities-no-sublist {
    padding: 9.9px 0;
    font-weight: bold;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
}
.history-activities-no-sublist-div {
    background-color: #ffb84d;
    margin: 0 auto;
    width: 80%;
    padding: 6% 6%;
    border-radius: 10px;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
}
.history-activities-has-sublist {
    padding: 9.5px 0;
    font-weight: bold;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
}
.history-activities-has-sublist-div {
    background-color: #ffb84d;
    margin: 0 auto;
    width: 80%;
    padding: 6% 6%;
    border-radius: 10px;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
}
.history-activities table tbody tr td div img {
    width: 20px;
    height: 20px;
}
.history-week {
    grid-area: week;
    background-color: white;
}
.history-week table{
    width: 100%;
    table-layout: fixed;
}
.history-week table thead tr td{
    padding: 17px 0;
    border-bottom: 1px solid lightgray;
}
.history-week table tbody tr{
    display: table-cell;
}
.history-week table tbody tr td{
    padding: 30px 0;
    display: block;
    border-bottom: 1px solid lightgray;
}
.history-sublist-icon {
    color: #ffffff;
    float: right;
}
.history-sublist-icon:hover {
    color: #BBC7D7;
    cursor: pointer;
}
.cR {
    margin: 0 auto;
    border-radius: 50%;
    border: solid 2px #ffb84d;
    background-color: #ffb84d;
}
.nsR {
    margin: 0 auto;
    border-radius: 50%;
    border: solid 2px #ffb84d;
}