.history {
    background-color: #F2F7FC;
}
.history-nav {
    width: 30%;
}
.history-body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:
            "header header"
            "week activities"
            "week activities";
    text-align: center;
}
.history-header {
    grid-area: header;
    padding: 0.5%;
    color: white;
    background-color: #889AB5;
}
.history-header-prev {
    float: left;
    cursor: pointer;
}
.history-header-next {
    float: right;
    cursor: pointer;
}
.history-activities {
    grid-area: activities;
    background-color: white;
}
.history-activities table {
    width: 100%;
    table-layout: fixed;
}
.history-activities table thead tr td{
    padding: 2.5px 0;
}
.history-activities table tbody tr td {
    padding: 33.4px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.history-week {
    grid-area: week;
    background-color: white;
}
.history-week table{
    width: 100%;
    table-layout: fixed;
}
.history-week table thead tr td{
    padding: 17px 0;
}
.history-week table tbody tr{
    display: table-cell;
}
.history-week table tbody tr td{
    padding: 30px 0;
    display: block;
    border-top: 1px solid black;
}
.cR {
    margin: 0 auto;
    border-radius: 50%;
    border: solid 2px #ffb84d;
    background-color: #ffb84d;
}
.nsR {
    margin: 0 auto;
    border-radius: 50%;
    border: solid 2px #ffb84d;
}